.error{
    border: 1px solid red!important;
}

.error:focus{
    box-shadow: 0 0 4px red!important;
}

.mobile-menu{
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    transition: .6s;
}

.show-menu{
    left: 0;
}